[BASIC]
driverpath = resource/chromedriver.exe
downdir = resource
#配置页面加载策略，可取值为none或normal，不配置或者配置为空时默认为normal
pageLoadStrategy = none
#配置隐式等待时间，一般与页面加载策略为none时配合使用，配置或者配置为空时默认为0
implicitly_wait_time =
[OPTION]
#设置为True时，将是无头浏览器，其他值或者为空时，正常浏览器。
isheadless =
#配置页面窗口大小，与配置为无头浏览器时使用。当非无头时，此选项不生效
windowsize = 1920,1080
